body {
    width: 100%;
    border: 0%;
    margin: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
    
    background:url(../pics/haha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    background: rgba(66, 64, 64, 0.587);
    margin-top: 100px;
    width: 70%;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    border-radius: 15px;
}
.title{
    height: 100px;
}
.players{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
}
.VS{
    margin-top: 60px;
    font-size: 60px;
}
.player1, .player2{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    
}
#P1-score, #P2-score {
    font-size: 40px;
    text-align: center;
    width: 50px;
    border: black solid 1px;
    border-radius: 10px;
}

img{
    width: 400px;
    height: 400px;
    
}
#PLAY{
    color: white;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(21, 0, 128);
    cursor: pointer;
    border-radius: 10px;
}
.result{
    height: 70px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.PLAYERS-SCORE{
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 390px;
}
#winner{
    width: 70%;
    height: 900px;
    background: rgba(255, 255, 255, 0);
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
#WIN{
    text-align: center;
    width: 400px;
    height: 100px;
    margin-top: 150px;
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ROUNDP{
    position: absolute;
    margin-top: 70px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    border: rgb(255, 255, 255) solid 2px;
    border-radius: 10px;
    
}
#ROUND{
    text-align: center;
    width: 20px;
    
   
}
.pos{
    position: absolute;
    margin-top: 70px;
}
#P1-points, #P2-points{
    border: black solid 1px;
    width: 30px;
    text-align: center;
    border-radius: 5px;
}
#RESET{
    color: white;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(21, 0, 128);
    cursor: pointer;
    border-radius: 10px;
}

